* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: #f6f8fb;
	display: flex;
	justify-content: space-between;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
	background-color: #c8c8c8;
}

.aside {
	width: 280px;
	height: 100vh;
	background-color: #fff;
}

.aside .logo {
	height: 60px;
	padding: 10px 20px;
	border-bottom: 1px solid #f0f0f4;
	text-align: center;
}

.aside .logo .name {
	font-family: "微软雅黑";
	font-size: 30px;
}

.nav {
	height: calc(100% - 60px);
	padding: 15px 0px;
	margin-left: 45px;
	overflow: auto;
	padding: 0px 20px;
}

.nav-list {
	margin: 10px 0px;
}

.nav-list .item-title {
	margin: 20px 0px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
}

.nav-list .item-color a {
	display: block;
	padding: 8px 0px 8px 8px;
	font-size: 14px;
	text-decoration: none;
	color: rgb(107, 114, 128);
}
.nav-list .item-color a:hover{
	color: black;
}
.nav-list .item-color .active {
	border-radius: 5px;
	background-color: rgba(0, 0, 102, .8);
	color: #fff !important;
}

/*  */
.main {
	width: calc(100% - 280px);
	height: 100vh;
	margin-left: 10px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	overflow: auto;
}

.color-theme-name {
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid #f0f0f4;
}

.introduce {
	padding: 20px;
}

.introduce .title {
	margin: 10px 0px;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
}

.introduce .desc {
	font-size: 18px;
	font-weight: 400;
}

.item-list {
	padding: 20px;
}

.item-list .group ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.item-list .group li {
	cursor: pointer;
	text-align: center;
}

.item-list .group li span:first-child {
	display: block;
	width: 70px;
	height: 70px;
}

.item-list .group li:first-child span {
	border-radius: 5px 0px 0px 5px;
}

.item-list .group li:last-child span {
	border-radius: 0px 5px 5px 0px;
}

.item-list .group .color-text {
	font-size: 12px;
	text-align: center;
	margin: 5px 0px;
}
.color-theme-desc{
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}
/* grid */
.grid {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 20px;
}
@media screen and (max-width: 1536px) { 
	.grid{
		grid-template-columns: repeat(5, 1fr);
	}
}
@media screen and (max-width: 1280px) {
	.grid{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 1024px) {
	.grid{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 950px) {
	.grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) { 
	.grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 640px) { 
	.grid{
		grid-template-columns: repeat(1, 1fr);
	}
}
