*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}
.box{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(8, 24, 245); */
    background-image: linear-gradient(to bottom right, #ace91f, #1f3bb8, #760af1);
}
.top{
    width: 100%;
    text-align: center;
    color: #fff;
}
.top img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.top h3{
    font-size: 30px;
    margin: 30px 0;
}
.bottom{
    width: 100%;
    margin-top: 40px;
}
.box p{
    font-weight:bold;
}
.box ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    
}
.box ul li{
    background: #ffffff;
    list-style: none;
    width: 20%;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #ccc;
}
.box ul li a{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110px;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: #760af1
}
.box ul li img{
    width: 37px;
    height: 37px;

}
.box ul li span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}
.box ul li span:hover{
    color: #2600ff;
}
/* 导航 */
.nav{
    width: 90%;
    color: #760af1;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin: 0 auto;
    font-weight: bold
}
.nav ul li a{
    text-decoration: none;
    color: #760af1;

}
.logo h3{
    font-size: 24px;
    letter-spacing: 0ex;
}
.nav ul li{
    display: inline-block;
    margin-left: 20px;
}
.nav ul li a:hover{
    color: #2600ff;
}
.nav ul .active a{
    color: #2600ff;
}